@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    height: 100vh;
    overflow: hidden;
}

.loading {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("./images/band-landscape.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: white;
    font-size: 1.5em;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    opacity: 1;
    transition: all 0.7s;
}

.hidden {
    display: none;
}

.wrapper {
    background-color: bisque;
    background-image: url("./images/bones-artwork.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 150vh;
}

.small-wrapper {
    display: grid;
    /* position: absolute; */
    width: 100%;
    height: 75vh;
    align-content: center;
    justify-content: center;
}

.blocks {
    width: 960px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    position: relative;
}

.blocks a div {
    transition: all 0.5s;
    width: 300px;
    height: 300px;
    position: absolute;
}

.block-text {
    color: white;
    position: absolute;
    z-index: 2;
    mix-blend-mode: difference;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.block-text p {
    width: 200px;
}

.block-front {
    z-index: 1;
    color: white;
    background-color: black;
}

.block-back {
    z-index: 0;
    background-color: azure;
}

#block0 {
    background-image: url("./images/bones-artwork2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#block1 {
    background-image: url("./images/mercury_act2.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#block2 {
    background-image: url("./images/band.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

.container {
    width: 960px; /* 4:3 ratio */
    height: 409px;
    position: relative;
    transform-style: preserve-3d;
}

.front {
    color: white;
    background-color: black;
    display: grid;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(1px);
}

.back {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg) translateZ(1px);
}

.anim {
    animation-name: flip;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choices {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.choices-container div {
    display: flex;
    justify-content: space-around;
}

.choices-container div button {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 0;
    border: 0;
    transition: 0.3s;
    padding: 10px;
    width: 100px;
    font-family: 'Playfair Display', serif;
}

.choices-container div button:hover {
    background-color: white;
    color: black;
}

.move-around {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1.5s;
    transform: translate(0px, 0px) rotate(0deg);
    z-index: 1;
    display: grid;
    align-content: center;
    justify-content: center;
}

.move-around p {
    text-align: center;
}